*{
    color: white;
    font-family:'Roboto', Arial, sans-serif;
    font-weight: 300;
}
html,
body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}
.wrapper{
    min-height: 100vh;
}


.wellcome{
    min-height: 100vh;
    width: 100%;
    text-align: center;
    flex: 1 1 auto;
    flex-direction: column;
}
.wellcome__bg {
    overflow: hidden;
    z-index: 1;
    position: relative;
    min-height: 100vh;
    padding-top:45%;
}
.wellcome__bg__video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  height: 100vh;
  overflow: hidden;
}
.wellcome__overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 2%;
}


.wellcome a{
    color: white;
    text-decoration: none;
    -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
}
.wellcome a:hover{
    text-decoration: none;
    color: rgb(232, 196, 135);
}
.company__name{
    padding-top: 14%;
    max-width: 1000px;
    margin: auto;
}
.company__description{
    font-size: 17px;
    padding-top: 4%;
    max-width: 800px;
    margin: auto;
}
.company__models{
    padding-top: 2%;
}
.company__models .btn{
    font-size: 15px;
    color: black;
    padding: 13px 25px;
    border-radius: 0;
    background-color: white;
    border: 1px solid white;
    -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
}
.company__models .btn:hover{
    color: black;
    background-color: rgb(232, 196, 135);
    border: 1px solid rgb(232, 196, 135);
    -webkit-transition: all 1s ease;
        transition: all 1s ease;
}



.description{
    @media (max-width:720px) {
        min-height: 100vh;
     }
    @media (min-width:721px) {
        min-height: 100vh;
    }
    @media (min-width:940px) {
        min-height: 100vh;
    }
    
    background-size: 100% 100%;
    padding: 2%;
    text-align: center;
    position: relative;
}
.description .desc__img{
    @media (max-width:720px) {
       display: none;
    }
    @media (min-width:721px) {
        display: none;
    }
    @media (min-width:940px) {
        display: block;
    }
}
.description img{
    border-right: 1px solid rgb(232, 196, 135);
    border-bottom: 1px solid rgb(232, 196, 135);
    width: 500px;
    height: 550px;
    object-fit: cover;
    position: absolute;
    top: 18%;
    left: 20%;
}
.desc__text{
    @media (max-width:720px) {
        background-color: white;
        border: 1px solid rgb(232, 196, 135);
        max-width: 900px;
        color: black;
        text-align: left;
        padding: 4%;
        margin: 5%;
     }
    @media (min-width:721px) {
        background-color: white;
        border: 1px solid rgb(232, 196, 135);
        max-width: 900px;
        color: black;
        text-align: left;
        padding: 4%;
        margin: 5%;
    }
    @media (min-width:940px) {
        position: absolute;
        background-color: white;
        border-left: 1px solid rgb(232, 196, 135);
        border-top: 1px solid rgb(232, 196, 135);
        max-width: 800px;
        color: black;
        text-align: left;
        padding: 4%;
        top: 18%;
        right: 10%;
        left: 35%;
    }
}
.desc__text p, .desc__text h2{
    color: black;
}
.desc__text p{
    font-size: 18px;
}
.desc__text hr{
    max-width: 50px;
    color: rgb(232, 196, 135);
    opacity: 1;
}
.desc__text .btn{
    background-color: white;
    color: black;
    border: 1px solid rgb(232, 196, 135);
    padding: 3% 8%;
    margin-top: 4%;
    border-radius: 0;
}
.desc__text .btn:hover{
    background-color: rgb(232, 196, 135);
}



.models{
    @media (max-width:720px) {
        text-align: center;
        flex: 1 1 auto;
        flex-direction: column;
    }
    @media (min-width:721px) {
        text-align: center;
        flex: 1 1 auto;
        flex-direction: column;
    }
    @media (min-width:940px) {
        max-width: 1300px;
        margin: auto;;
        text-align: center;
        flex: 1 1 auto;
        flex-direction: column;
    }
    
}
.model_card{
    max-width: 380px;
    margin: 2% 1%;
    padding: 0;
    display: inline-block;
}
.models__description p,.models__description h2{
    color: white;
}
.models__description hr{
    max-width: 100px;
    color: rgb(232, 196, 135);
    opacity: 1;
}
.models__cards img{
    object-fit: cover;
    width:380px;
    height: 470px;
    border-radius: 25px;
}
.models .btns .btn{
    width: 45%;
}
.models .btn-photo{
    background-color: white;
    color: black;
    border-radius: 0;
    border: 1px solid rgb(232, 196, 135);
}
.models .btn-invite{
    background-color: black;
    border-radius: 0;
    border: 1px solid rgb(232, 196, 135);
    color: white;
}
.models .btn:hover{
    background-color: rgb(232, 196, 135);
}
.models .btns{
    text-align: left;
    width:100%;
    justify-content: space-around;
    display: flex;
}
.model__card__popup{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    overscroll-behavior:contain;
    overflow-y: auto;
    transition: all 0.8s ease 0s;
    z-index: 100;
}
.model__card__popup:target{
    opacity: 1;
    visibility: visible;
}
.popup__body{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto    ;
}
.popup__content{
    color: white;
    max-width: 1500px;
}
.popup__text{
    max-width: 500px;
    padding: 2% 5%;
    margin: 0 auto;
    text-align: left;
    vertical-align: top;
}
.popup__text{
    transition: all 0.8s ease 0s;
    transform: translate(100%, 0px);
}
.carousel{
    transition: all 0.8s ease 0s;
    transform: translate(-100%, 0px);
}
.model__card__popup:target .popup__content .popup__text, 
.model__card__popup:target .popup__content .carousel{
    transform: translate(0px, 0px);
    opacity: 1;
}
.popup__text .name{
    font-size: 24px;
}
.popup__text .esc{
    font-size: 14px;
    color: gray;
}
.popup__text .order{
    background-color: white;
    padding: 3% 7%;
    border-radius: 0;
    color: black;

}
.popup__text  .number{
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(232, 196, 135);
}
.popup__text .info{
    font-size: 14px;
}
.popup__text .desc__model{
    font-size: 15px;
}
.popup__close{
    color: white;
    font-weight: bolder;
    font-size: 20;
    text-decoration: none;
    padding-bottom: 10%;
}
.popup__close:hover{
    text-decoration: none;
    color: rgb(232, 196, 135);
}
.carousel img{
    object-fit: cover;
    max-width:500px;
    max-height: 700px;
    border-radius: 25px;
    margin-top: 5%;
}
.carousel, .popup__text{
    display: inline-block;
}